<h2 class="content-block">Profile</h2>

<app-profile-card [employee]="employee"></app-profile-card>

<div class="content-block dx-card responsive-paddings">
  <dx-form id="form" [formData]="employee" labelLocation="top" [colCountByScreen]="colCountByScreen">
    <ng-container *ngFor="let field of employeeFields">
      <dxi-item [dataField]="field.name" [editorOptions]="{ readOnly: !field.edit }">
        <dxo-label [visible]="true" [text]="field.displayedName || field.name"></dxo-label>
      </dxi-item>
    </ng-container>
  </dx-form>
</div>