<form class="create-account-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">

    <!-- Email Field -->
    <dxi-item dataField="email" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email', mode: 'email' }">
      <dxo-label [visible]="false"></dxo-label>

      <!-- Validation Rules for Email -->
      <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="Invalid email format"></dxi-validation-rule>
    </dxi-item>

    <!-- Password Field -->
    <dxi-item dataField="password" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Password', mode: 'password' }">
      <dxo-label [visible]="false"></dxo-label>

      <!-- Validation Rule for Password -->
      <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
    </dxi-item>

    <!-- Confirm Password Field -->
    <dxi-item dataField="confirmedPassword" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Confirm Password', mode: 'password' }">
      <dxo-label [visible]="false"></dxo-label>

      <!-- Validation Rules for Confirm Password -->
      <dxi-validation-rule type="required" message="Please confirm your password"></dxi-validation-rule>
      <dxi-validation-rule type="custom" [validationCallback]="confirmPassword"
        message="Passwords do not match"></dxi-validation-rule>
    </dxi-item>

    <!-- Display Name Field -->
    <dxi-item dataField="displayName" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Display Name', mode: 'name' }">
      <dxo-label [visible]="false"></dxo-label>

      <!-- Validation Rules for Display Name -->
      <dxi-validation-rule type="required" message="Display Name is required"></dxi-validation-rule>
      <dxi-validation-rule type="stringLength" [max]="15"
        message="Display Name must be at most 15 characters long"></dxi-validation-rule>
    </dxi-item>

    <!-- Country Code Select Box -->
    <dxi-item class="form-item">
      <dx-select-box [dataSource]="countryPhoneCodes" displayExpr="name" valueExpr="code"
        [(value)]="selectedCountryCode" placeholder="Select a country">
      </dx-select-box>

      <!-- Validation for Country Code -->
      <dxi-validation-rule type="required" message="Please select a country code"></dxi-validation-rule>
    </dxi-item>

    <!-- Phone Number Field -->
    <dxi-item dataField="phoneNumber" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Phone Number', mode: 'text' }">
      <dxo-label [visible]="false"></dxo-label>

      <!-- Validation Rules for Phone Number -->
      <dxi-validation-rule type="required" message="Phone Number is required"></dxi-validation-rule>
      <dxi-validation-rule type="custom" [validationCallback]="validatePhoneNumber"
        message="Invalid phone number"></dxi-validation-rule>
    </dxi-item>

    <dxi-item>
      <div class='policy-info'>
        By creating an account, you agree to the <a routerLink="#">Terms of Service</a> and <a routerLink="#">Privacy
          Policy</a>.
      </div>
    </dxi-item>

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'createAccountTemplate'">
      </dxo-button-options>
    </dxi-item>

    <dxi-item>
      <div class="login-link">
        Have an account? <a routerLink="/login">Sign In</a>
      </div>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'createAccountTemplate'">
      <div>
        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
          </ng-container>

          <ng-template #notLoading>Create a new account</ng-template>
        </span>
      </div>
    </ng-container>

  </dx-form>
</form>