@import "../../../../themes/generated/variables.base.scss";

.create-account-form {
  .terms-container {
    display: flex;
    align-items: center;
  }

  .terms-text {
    margin-left: 8px;
    font-size: 13px;
  }

  .terms-text a {
    color: $base-accent;
    text-decoration: none;
  }

  .terms-text a:hover {
    text-decoration: underline;
  }

  .login-link {
    color: $base-accent;
    font-size: 16px;
    text-align: center;
  }
}